body {
	background-color: #c3fbf4;
	margin-left: 10vw;
	margin-right: 10vw;
}

@media screen and (min-width: 1000px) {
	body {
		margin-left: 20vw;
		margin-right: 20vw;
	}
}

@media screen and (max-width: 500px) {
	body {
		margin-left: 0;
		margin-right: 0;
	}
}

h1,
h5, 
h4 { 
	color: #2d3c49;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

h3 {
	color: #2d3c49;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

h2 {
	color: #7d97ad;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

p {
	color: #2d3c49;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

hr {
	height: 5px;
	background-color: #7d97ad;
}

.Udacity_Logo {
	max-height: 200px;
	max-width: 200px;
}

.name_and_title {
	text-align: right;
}

.bio {
	text-align: center;
	vertical-align: text-top;
}


.bio_text {
	display: inline;
}

.featured_work {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.featured_work_header {
	text-align: left;
}

.red_door_img {
	max-height: 200px;
}

.resume_img {
	max-height: 200px;
	display: block;
	margin: 0 auto;
}

.cornerstone_catering_img {
	max-height: 200px;
}

.modal-content {
	background-color: #e6e6fa;
}

.modal-title {
	text-align: center;
	color:  #b0171f;
}

.modal-body {
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.header_greater_than_1000px {
		display: none;
		text-align: center;
	}

	.name_and_title {
		text-align: center;
	}

	.featured_work_header {
		text-align: center;
	}

	h5 {
		min-height: 50px;
		min-width: 50px;
	}
}

@media screen and (min-width: 999px) {

	.header_less_1000px {
		display: none;
	}
}

